<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Stops</title>
</head>
<body>
<h2>Add Stops</h2>

<form action="#" th:action="@{/saveStops}" method="post">
    <!-- Hidden input for busId -->
    <input type="hidden" th:name="busId" th:value="${busId}" />

    <div th:if="${numStops != null}">
        <div th:each="i : ${#numbers.sequence(1, numStops)}">
            <div>
                <label th:text="'Stop ' + ${i} + ' Location:'"></label>
                <input type="text" name="locations" required><br>
                <label th:text="'Stop ' + ${i} + ' Time:'"></label>
                <input type="time" name="times" required><br><br>
            </div>
        </div>
    </div>
    <button type="submit">Save Stops</button>
</form>

</body>
</html>
